<style>
    h1 {
        font-family: 80%/2.0em "Courier New", Monospace;
        color: #286090;
    }
     
    h3 {
        font-family: 80%/2.0em "Courier New", Monospace;
        color: #286090;
    }
 </style>


<a href="~/Home/Game/"></a>

<h1>Welcome to The Sim Game!</h1>    

<h3>Game Rules:</h3>
<p>
    The goal is to keep your population alive and get to population of 10.
<p>You start at day 1 with:</p>
<ul>
    <li> 1 house</li>
    <li> 1 villager</li>
    <li> 6 food</li>
    <li> 6 water</li>
</ul>
<p>
  You get 1 action per day per villager. You may build a house, build a well, harvest food, gather water, gather wood.
  Each villager consumes 1 food and 1 water per day.
</p>

<h3> Are you ready to play? </h3>

    <div class="yes"> <a href="@Url.Action("NewGame", "Home")"> NEW GAME </a> </div>
    
